[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flower = "*"
celery = "*"
braintree = "*"
django = "*"
drf-yasg = "*"
django-rest-framework = "*"
whitenoise = "*"
django-jazzmin = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
