* {
    box-sizing: border-box;
}

img {
    height: 300px;
}

body {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 5px;
    /*border: 0.1px solid black;
    width: max-content;*/
    margin-top: 1px;
}

a:hover {
    background: rgb(117, 117, 194);
}

#header {
    display: flex;
    top: 0;
    background: black;
    color: white;
    margin: 0;
    padding: 5px;
}

#subheader {
    background: rgb(201, 198, 198);
    display: block;
    align-items: flex-end;
    font-weight: 500;
    width: 100%;
    color: rgb(98, 98, 95);
}

#content {
    display: flex;
}

#sidebar {
    left: 0;
    width: 25%;
    background-color: rgb(201, 198, 198);
    display: block;
    padding: 15px;
    margin-right: 20px;
    overflow: hidden;
}

#main {
    right: 0;
    width: 75%;
}

.item {
    width: 350px;
    height: 450px;
}